21cmfast_test.ipynb
_cache
data
fiducial_ps.npy
parameter_backup.yaml
__pycache__
power_spectra_1D.py
power_spectra_2D.py
<class 'pathlib.Path'>
aies_chain.h5
p21fastwrapper_debugger.ipynb
*chain*
MultiNest
aies_lil.py
data_emcee
mcmc.py
*.jpg
*.yml
*data*
*.h5
2D_power_spectra.ipynb
data*
test.py
aies_lil.py
*.png
*.jpg
!Leaf.png
21mc_aies.py
21mc_ns.py
nancheck.py
sim.py
p21cmfastwrapper.py
*.ipynb
!tutorial.ipynb
